{% extends 'base.html' %}

{% block title %}Make Payment{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="text-center m-t-6">
    <h4>Pay with PayPal</h4>
    <div id="paypal-button-container"></div>
    </div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AfM1ct6mBmY4zc8xg6XUiADcxbHzhmFdt7EhKFX1rJxDmPrRdPsxVfps2u30XWtbTUWxtnJENgSheunV&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{uv}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
       
    </script>
    
{% endblock %}